/* styles/variables/theme.scss */

$primary-color: #1e90ff;
$secondary-color: #ff6f61;
$background-color: #f8f8f8;
$text-color: #333;

$font-main: "Inter", sans-serif;
$font-title: "Poppins", sans-serif;
